<mat-card [ngClass]="{'fullscreen': true}" style="text-align: -webkit-center; position: inherit;margin-bottom: 8%">
  <mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <div><h2 class="mat-h2">IMPORTANT LINKS</h2>
      <mat-list role="list">
        <mat-list-item matRipple>Notices</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple>Brochure</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple>Career</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple>Results</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple>Calendar 2019-2020</mat-list-item>
      </mat-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <div><h2 class="mat-h2">MY SMART SCHOOL</h2>
        <p>My Smart School<br>Campus 2<br>Berhampur -760002, Orissa, India</p>
        <p>7978120295</p>
        <p>mySmartSchool@edu.in</p>
        <p>Monday - Friday: 8:00 AM - 10:00 PM</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          <mat-icon> call</mat-icon>
          <mat-icon> email</mat-icon>
          <mat-icon>calendar_today</mat-icon>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <h2 class="mat-h2">NEWS</h2>
      <mat-list role="list">
        <mat-list-item matRipple>My Smart School is Silicon Valley's big bet on reinventing education </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple>My Smart School is one of the best service provider </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item matRipple>Schools are gaining attention cause of websites</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<p></p>
<p>©My Smart School | mySmartSchool.edu.in   |   7978120295</p>
</mat-card>
