<!--
<mat-card [ngClass]="{'fullscreen': true}" style="text-align: -webkit-center;">
  &lt;!&ndash;<agm-map [zoom]="16" [latitude]="lat" [longitude]="lng" >
    <agm-marker [latitude]="lat" [longitude]="lng" ></agm-marker>
  </agm-map>&ndash;&gt;
  <img class="image" (click)="goToLink()" alt="Photo of a Shiba Inu" mat-card-image
       src="assets/myGoogleMap.PNG">
</mat-card>
-->

<mat-card-header >
<mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"   >
  <div class="mapDiv" fxLayout="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8449.621573577833!2d84.56593191240059!3d19.37447511463798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3d3661e4571ddb%3A0x4a564db59d5663ee!2sGovernment%20Girls&#39;%20High%20School!5e0!3m2!1sen!2sin!4v1572152615702!5m2!1sen!2sin"
            width="600" height="400"  style="border:0;" ></iframe>
  </div>
  <div class="mapDiv" fxLayout="row">
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8449.621573577833!2d84.56593191240059!3d19.37447511463798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3d3661e4571ddb%3A0x4a564db59d5663ee!2sGovernment%20Girls&#39;%20High%20School!5e0!3m2!1sen!2sin!4v1572152615702!5m2!1sen!2sin"
            width="600" height="600"  style="border:0;" ></iframe>-->
  </div>
</mat-card-content>
</mat-card-header>
