<mat-card [ngClass]="{'fullscreen': true}" style="text-align: -webkit-center; position: inherit;" >
  <img alt="mySmartSchool" mat-card-md-image src="assets/mySmartSchoolLogo.png" class="logo">
  <mat-card-title>Welcome to My Smart School</mat-card-title>
  <mat-card-content class="mat-body-strong"  >
    <p>
      My Smart school is the ideal institution for children as it
      instils in them the power of positive thinking, exemplary
      speed of execution, insatiable desire for new information
      and knowledge. Children are encouraged to develop a
      global mindset and a penchant for out-of-box thinking.
      The course curriculum has been designed benchmarking with
      the best practices from institutions around the world.
      My Smart school is the ideal institution for children as it
      instils in them the power of positive thinking, exemplary
      speed of execution, insatiable desire for new information
      and knowledge. Children are encouraged to develop a
      global mindset and a penchant for out-of-box thinking.
      The course curriculum has been designed benchmarking with
      the best practices from institutions around the world.
    </p>
  </mat-card-content>
  <button class="cta" mat-raised-button>KNOW MORE</button>
</mat-card>
