<mat-card [ngClass]="{'fullscreen': true}" style="text-align: -webkit-center; position: inherit;">

  <div class="carousel slide carousel-fade" data-ride="carousel" id="carouselExampleIndicators">
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
      <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
      <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <mat-card class="cards" color="primary">
          <div style="text-align:center">
            <img alt="Avatar" class="size" mat-card-avatar src="assets/student1.jpg"><br><br><br><br>
            <p class="color1">We love Portage Park Magnet school! Our third and first graders are so happy and learning so
              much in a welcoming warm environment. The teachers, principle, and families are wonderful. We feel so
              blessed to live so close to such a great school.</p>
          </div>
          <mat-card-footer>
            <p class="styles">~ by Sunil</p>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="carousel-item">
        <mat-card class="cards" color="primary">
          <div style="text-align:center">
            <img alt="Avatar" class="size" mat-card-avatar src="assets/student2.jpg"><br><br><br><br>
            <p class="color1">My Smart School is a great art school with awesome teachers. Teachers are great supporters
              of sudents
              in every aspect and they are actually involved. My kid loves My Smart School!</p>
          </div>
          <mat-card-footer>
            <p class="styles">~ by Sunil</p>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="carousel-item">
        <mat-card class="cards" color="primary">
          <div style="text-align:center">
            <img alt="Avatar" class="size" mat-card-avatar src="assets/student3.jpg"><br><br><br><br>
            <p class="color1">Excellent infrastructure, comprehensive education and international exposure : KiiTIS is
              everything a student could ask for.
              As the Head Girl of this school, I think it’s safe to say that Kiit international has changed my life.
              Studying in KiiTIS is like taking a long personality development course where you grow academically,
              mentally and morally.</p>
          </div>
          <mat-card-footer>
            <p class="styles">~ by Manish</p>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>
